* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
}
          #fil{
            width:100%;
            height:50px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: rgb(56, 54, 51);
            color: antiquewhite;
            position: fixed;
          }
          #beg {
            margin-left: 700px;
            display: flex;
            gap: 20px;
            font-family: Harlow Solid Italic;
            margin: 30px;
            font-size: 30px;
          }
          #beg a:hover{
            color: black;
             transform: scale(1);   /* grows smoothly */
             transition: 1s; 
            background-color: aquamarine;
            cursor: pointer;
          }
          .section{
            width: 100%;
            height: 500px;
            color: rgb(9, 46, 46);
            font-family: Bahnschrift Condensed;
            padding: 0;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            display: flex;
          }
          #home{
              background-color: #BBDCE5;
          }
          #payment{
            background-color: #ECEEDF
          }
          #about{
            background-color: #D9C4B0
          }
